@import url("https://fonts.googleapis.com/css?family=Gloria+Hallelujah");

.App {
  background-color: black;
  width: 100vw;
  height: 100vh;
  font-family: 'Gloria Hallelujah', cursive;
  /* font-family: "'Helvetica Neue',Helvetica,Arial,sans-serif;" */
}
span{
  font-size: 20px;
  padding-left: 5px;
}

input {
  padding-left: 5px;
  border-radius: 10px;
  width: 20%;
  outline: 0;
  border-width: 0 0 2px;
  border-color: #dfe6e9
}
input:focus {
  border-color: green
}

.landing-page{
 display: grid;

}

.user{
  width: 20vh;
  height:10vw;
  text-align: center;
  border-radius: 20px;
  text-align: center;
  padding: 10px;
  display: inline-block;  
}
.ind-user{
  margin-top: 20%;
}
.user-container{
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
  justify-content: center;
  text-align: center;
  justify-content: space-around
}

.heading{
  color:white;
  text-align: center;
  font-family: 'Gloria Hallelujah', cursive;

}
#reflix{
  float: right;
  color: aqua
}

*{
  color: white;
  text-decoration: none;
}

#budget{
  float: right;
  padding-right: 15px;
}
#reflix{
  padding-right: 15px;

}

.movie-page{
  background-color: black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 10px;
  align-content: center;
}
.rentedMovie-page{
  background-color: black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 10px;
  align-content: center;
}


.movie-page img{
  width: 100%;
  border-radius: 10px;
  height: 90%;
}

.home-links{
  padding: 15px;
}

.movie-details{
  display: grid;
  grid-template-rows: auto auto auto auto auto;
  background-color: black;
  padding: 10px;
  grid-gap: 20px;
  text-align: center;
}


.movie-details img{
  width: 40%;
  margin: auto;
}

input, select, textarea{
  color: black;
}

.catalog-page{
  background-color: black;
  color: white;
}


.input-bud{
  margin: 5px;
}

.icon{
  color: green
}