.App {
  background-color: black;
  width: 100vw;
  height: 100vh;

}
.landing-page{
 display: grid;

}

.user{
  width: 20vh;
  height:10vw;
  text-align: center;
  border-radius: 20px;
  text-align: center;
  padding: 10px;
}
.user-container{
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
  justify-content: center;
  grid-gap: 10px;
}

.heading{
  color:white;

}
#reflix{
  float: right;
  color: aqua
}

*{
  color: white;
  text-decoration: none;
}

#budget{
  float: right;
}

.movie-page{
  background-color: black;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 20px;
  padding: 10px;
  align-content: center;
}

.movie-page img{
  width: 100%;
  border-radius: 10px;
  height: 90%;
}

.home-links{
  padding: 15px;
}

.movie-details{
  display: grid;
  grid-template-rows: auto auto auto auto auto;
  background-color: black;
  padding: 10px;
  grid-gap: 20px;
  text-align: center;
  /* margin: auto; */
  /* width: 60%; */
}

.movie-details img{
  width: 40%;
  margin: auto;
}

input, select, textarea{
  color: black;
}

.catalog-page{
  background-color: black;
  color: white;
}


.input-bud{
  margin: 5px;
}
